.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  background-image: url("../img/decorations/wave.svg");
  background-repeat: repeat-x;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-interaction {
  background-image: linear-gradient(0deg, @font-base, @font-base);
  border: 2px solid @font-base;
}

.icon-hover {
  fill: @special;
  opacity: 1;
}

.icon-active {
  fill: @special-active;
  opacity: 1;
}

.outline {
  outline: 2px solid @special;
}

.outline-radius {
  .outline;
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 1px 0 @line-separator, inset 0 1px 0 @line-separator;
}

.header-line {
  background-color: @font-dark;
  opacity: 0.1;
}

.separator-vertical {
  .header-line;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
}

.content-center {
  max-width: @content;
  margin-left: auto;
  margin-right: auto;
}

.decor {
  .wave;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 6px;
}

.margin-mobile {
  margin-right: 30px;
  margin-left: 30px;
}

.margin-tablet {
  margin-right: 50px;
  margin-left: 50px;
}
