@bg-color-gray: #f1f1f1;

@color-special: #63d1bb;
@color-category-toys: #56c3b2;

@font-color-base: #444444;
@font-color-dark: #000000;
@font-color-opposite: #ffffff;

@font-base: "Open Sans", "Arial", sans-serif;
