@bg-gray: #f1f1f1;
@bg-gray-light: #f9f9f9;

@special: #63d1bb;
@special-active: rgba(99, 209, 187, 0.3);
@special-decoration: #62d1ba;
@special-link-interaction: #46c1ae;
@special-link-interaction-active: rgba(70, 193, 174, 0.3);
@special-link-underline-active: rgba(70, 193, 174, 0.1);

@category-shadow-interior: 0 -5px 0 0 @special;
@category-toys: #56c3b2;
@category-shadow-toys: 0 -5px 0 0 @category-toys;

@modal-hover: rgba(99, 209, 187, 0.6);
@modal-active: rgba(99, 209, 187, 0.3);
@modal-border: #C6C6C6;

@font-base: #444444;
@font-base-opacity: rgba(68, 68, 68, 0.1);
@font-base-opacity-light: rgba(68, 68, 68, 0.3);

@font-dark: #000000;
@font-dark-hover: rgba(0, 0, 0, 0.6);
@font-dark-active: rgba(0, 0, 0, 0.3);

@shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.1);
@shadow-active: 0px 3px 5px rgba(0, 0, 0, 0.1);

@font-opposite: #ffffff;
@font-opposite-active: rgba(255, 255, 255, 0.3);

@font-family-main: "Open Sans", "Arial", sans-serif;

@line-separator: #ececec;
@border-separator: #e5e5e5;

@toggle: #231f20;

@tablet: 768px;
@desktop: 1150px;
@content: 1050px;

@border-base: 2px solid @font-base;
@border-light: 1px solid @line-separator;
@border-gray: 1px solid @border-separator;

@category-icon: #149080;
