.advantages-list {
  .reset-list;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @font-dark;

  @media @tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.advantages-list__item {
  background-position: left top;
  background-repeat: no-repeat;

  &--ecology {
    background-image: url("../img/about/ecology.svg");
  }

  &--style {
    background-image: url("../img/about/style.svg");

    @media @tablet {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &--like {
    background-image: url("../img/about/like.svg");

    @media @tablet {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &--love {
    background-image: url("../img/about/love.svg");

    @media @tablet {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &--domestic {
    background-image: url("../img/about/domestic.svg");

    @media @tablet {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &--gift {
    background-image: url("../img/about/gift.svg");
  }
}
