.advantages {
  .wave;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 58px;
  padding-left: 30px;

  @media (min-width: @tablet) {
    padding-top: 55px;
    padding-right: 50px;
    padding-bottom: 82px;
    padding-left: 50px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 68px;
    padding-right: 0;
    padding-bottom: 90px;
    padding-left: 0;
  }
}

.advantages__title {
  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
