.advantages-list {
  .reset-list;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @font-dark;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 24px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    column-gap: 0;
    row-gap: 20px;
  }
}

.advantages-list__item {
  white-space: pre-wrap;
  background-position: left top;
  background-repeat: no-repeat;

  &--ecology {
    margin-bottom: 29px;
    padding-top: 55px;
    background-image: url("../img/decorations/about/ecology.svg");
    background-position: 8px top;

    @media (min-width: @tablet) {
      margin-top: 1px;
      padding-top: 57px;
    }

    @media (min-width: @desktop) {
      padding-top: 55px;
    }
  }

  &--style {
    margin-bottom: 34px;
    padding-top: 55px;
    background-image: url("../img/decorations/about/style.svg");

    @media (min-width: @tablet) {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-top: -1px;
      margin-left: 1px;
      padding-top: 54px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 41px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 41px;
    }

    @media (min-width: @desktop) {
      margin-bottom: 41px;
    }
  }

  &--like {
    margin-bottom: 31px;
    padding-top: 49px;
    background-image: url("../img/decorations/about/like.svg");
    background-position: 7px top;

    @media (min-width: @tablet) {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 1px;
    }
  }

  &--love {
    margin-bottom: 32px;
    padding-top: 52px;
    background-image: url("../img/decorations/about/love.svg");
    background-position: 3px top;

    @media (min-width: @tablet) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: 5px;
      padding-top: 54px;
    }

    @media (min-width: @desktop) {
      margin-top: 3px;
      padding-top: 52px;
    }
  }

  &--domestic {
    margin-bottom: 31px;
    margin-left: -6px;
    padding-top: 50px;
    padding-left: 6px;
    background-image: url("../img/decorations/about/domestic.svg");

    @media (min-width: @tablet) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-top: 2px;
      padding-top: 52px;
    }
  }

  &--gift {
    padding-top: 53px;
    background-image: url("../img/decorations/about/gift.svg");
    background-position: 3px top;

    @media (min-width: @tablet) {
      margin-top: -4px;
      padding-top: 54px;
    }
  }
}
