.advantages-list {
  .reset-list;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @font-dark;
}

.advantages-list__item {
  background-position: left top;
  background-repeat: no-repeat;

  &--ecology {
    background-image: url("../img/about/ecology.svg");
  }

  &--style {
    background-image: url("../img/about/style.svg");
  }

  &--like {
    background-image: url("../img/about/like.svg");
  }

  &--love {
    background-image: url("../img/about/love.svg");
  }

  &--domestic {
    background-image: url("../img/about/domestic.svg");
  }

  &--gift {
    background-image: url("../img/about/gift.svg");
  }
}
