.advantages {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 31px;

  @media @tablet {
    padding-top: 55px;
    padding-right: 50px;
    padding-bottom: 82px;
    padding-left: 50px;
  }

  @media @desktop {
    padding-top: 68px;
    padding-bottom: 89px;
    padding-left: 225px;
  }
}
