.button {
  display: block;
  font-family: @font-base;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @font-color-base;
  background-color: transparent;
  cursor: pointer;

  &--narrow {
    line-height: 16px;
  }
}
