.card__link {
  text-decoration: none;
}

.card__title {
  margin: 0;
  font-size: 17px;
  color: @font-color-dark;
}

.card__image {
  background-color: @bg-color-gray;
}

.card__parameters {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  color: @font-color-dark;
}

.card__button {
  cursor: pointer;
}
