.cart {
  .shadow;
  display: none; // display: flex; Появляется при открытии меню
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: center;
  padding-top: 29px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    height: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    box-shadow: none;
  }

  @media (min-width: @desktop) {
    min-width: 267px;
  }

  &:hover,
  &:focus {
    .cart__icon {
      .icon-hover;
    }
  }

  &:active {
    .cart__icon {
      .icon-active;
    }
  }
}

.cart__icon {
  margin-right: 25px;
  opacity: 0.2;

  @media (min-width: @tablet) {
    margin-right: 31px;
  }

  @media (min-width: @desktop) {
    margin-right: 0;
    margin-left: 32px;
  }
}
