.cart {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  &:hover {
    .cart__icon {
      .icon-hover;
    }
  }

  &:focus {
    .cart__icon {
      fill: @special;
      opacity: 1;
    }
  }

  &:active {
    .cart__icon {
      .icon-active;
    }
  }
}

.cart__icon {
  opacity: 0.2;
}
