.cart {
  .shadow;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: none;
  }

  &:hover {
    .cart__icon {
      .icon-hover;
    }
  }

  &:focus {
    .cart__icon {
      fill: @special;
      opacity: 1;
    }
  }

  &:active {
    .cart__icon {
      .icon-active;
    }
  }
}

.cart__icon {
  opacity: 0.2;
}
