.categories {
  @media (min-width: @tablet) {
    position: relative;
    background-color: @bg-gray-light;
  }

  &::after {
    @media (min-width: @tablet) {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      right: 0;
      bottom: -12px;
      left: 0;
      background-image: url("../img/decorations/waves/wave-fill.svg");
      z-index: 1;
    }

    @media (min-width: @desktop) {
      bottom: -17px;
      height: 34px;
      background-image: url("../img/decorations/waves/wave-big.svg");
    }
  }
}
