.contacts__item {
  font-size: 14px;
  line-height: 30px;
}

.contacts__text {
  margin: 0;
}

.contacts__email {
  text-decoration: none;
  color: @font-base;

  &:hover {
    color: @special-link-interaction;
  }

  &:active {
    color: @special-link-interaction-active;
  }
}
