.feedback {
  margin: 0;
}

.feedback__text {
  margin: 0;
  line-height: 30px;
}

.feedback__author {
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: @font-dark;
}

.feedback__link {
  font-weight: 400;
  line-height: 30px;
  color: @font-base;
  text-decoration: none;

  &:hover,
  &:active {
    color: @special-link-interaction;
  }
}
