.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @font-dark;

  &--modal {
    line-height: 16px;
  }
}

.form__button {
  font-size: 17px;
  line-height: 16px;

  &--modal {
    color: @font-opposite;
    background-color: @special;
  }
}

.form__group {
  padding: 0;
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special;
}

.form__input {
  font-family: @main;
  font-size: 19px;
  line-height: 18px;
  color: @font-base;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }

  &--message {
    color: @font-dark;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}
