.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @font-color-dark;

  &--modal {
    line-height: 16px;
  }
}

.form__button {
  font-size: 17px;
  line-height: 16px;

  &--modal {
    color: @font-color-opposite;
    background-color: @color-special;
  }
}

.form__group {
  padding: 0;
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-special;
}

.form__input {
  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}
