.link {
  text-decoration: none;
  color: @font-dark;

  &:hover {
    color: @font-dark-hover;
  }

  &:focus {
    .outline-radius;
    color: @special;
  }

  &:active {
    color: @font-dark-active;
  }
}
