.main-title-wrapper {
  text-align: center;
  background-color: @bg-gray;
  background-repeat: no-repeat;

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 9;
  }

  &--image {
    background-image: url("../img/bg/bg-title.jpg");
    background-position: center;
  }
}

.main-title-wrapper__main-title {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @font-dark;

  @media (min-width: @tablet) {
    margin-right: 50px;
    margin-left: 50px;
  }

  @media (min-width: @desktop) {
    .content-center;
  }
}
