.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-right: 30px;
  padding-bottom: 46px;
  padding-left: 30px;
}

.modal__form {
  padding: 0;
}

.modal__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: @font-color-dark;
}

.modal__text {
  margin: 0;
  line-height: 30px;
}
