.optional-list {
  .reset-list;
  display: none;

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 404px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: @font-dark;
    background-color: @bg-gray-light;
  }

  &--dark {
    @media (min-width: @desktop) {
      background-color: @bg-gray;
    }
  }
}

.optional-list__item {
  width: 50%;
  padding-top: 20px;

  &:last-child {
    margin-left: 38px;
  }
}
