.optional-list {
  .reset-list;
  display: none;

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    font-weight: 700;
    color: @font-dark;
  }
}

.optional-list__item {
  width: 50%;
}
