.page-footer {
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 23px;
  background-color: @bg-color-gray;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
