.page-footer {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: @desktop) {
    .content-center;
  }
}

.page-footer__logo {
  @media (min-width: @tablet) {
    display: block;
    margin-left: 50px;
  }
}

.page-footer__copyright {
  .flex-center;

  @media (min-width: @tablet) {
    margin-right: 50px;
    margin-left: auto;
  }
}
