.page {
  height: 100%;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: @font-family-main;
  font-size: 15px;
  line-height: 24px;
  color: @font-base;
  background-color: @font-opposite;

  @media (min-width: @tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}
