.page-footer {
  background-color: @bg-gray;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.page-footer__logo {
  @media (min-width: @tablet) {
    display: block;
  }
}

.page-footer__copyright {
  .flex-center;
}
