.product {
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 42px repeat(2, 167px);
    grid-template-rows: repeat(6, auto);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 175px repeat(2, 1fr) 58px repeat(3, 175px);
    grid-template-rows: minmax(135px, auto) minmax(150px, auto) minmax(180px, auto) minmax(105px, auto) auto;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  picture {
    @media (min-width: @tablet) {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 6;
    }

    @media (min-width: @desktop) {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 6;
    }
  }
}

.product__title {
  margin-bottom: 41px;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop) {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 7;
    align-self: end;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
  }
}

.product__image {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 27px;
  margin-left: auto;
  background-color: @bg-gray;
  object-fit: cover;
  object-position: 50% 50%;

  @media (min-width: @tablet) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    width: 334px;
    height: 404px;
    margin-top: 13px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 525px;
    height: 636px;
    margin-top: 17px;
  }
}

.product__text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 21px;
  margin-left: 0;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    margin-top: 0;
    margin-bottom: 23px;
    white-space: pre-line;
  }

  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 35px;
    margin-bottom: 0;
  }
}

.product__parameters {
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  font-family: @font-family-main;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: @font-base;
  border-spacing: 0;
  border-color: @line-separator;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    max-height: 120px;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 0;
  }

  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    min-height: 116px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product__parameters-name {
  width: 38%;
  font-weight: 400;

  @media (min-width: @tablet) {
    width: 33%;
  }

  @media (min-width: @desktop) {
    width: 34%;
  }
}

.product__parameters-cell {
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 0;
  border-bottom: 1px solid @line-separator;

  @media (min-width: @desktop) {
    padding-top: 0;
  }
}

.product__price {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 23px;
  margin-left: 0;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: end;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product__button {
  min-width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    align-self: end;
    margin-right: 0;
    margin-bottom: 1px;
    margin-left: 0;
  }

  @media (min-width: @desktop) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 0;
  }
}
