.product__image {
  background-color: @bg-gray-color;
}

.product__text {
  margin: 0;
}

.product__parameters {
  line-height: 20px;
}

.product__parameters-name {
  font-weight: 400;
}

.product__price {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
