.product {
  @media @tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
  }

  @media @desktop {
    grid-template-rows: repeat(5, auto);
    padding-left: 225px;
  }
}

.product__title {
  padding-bottom: 41px;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0;
  }

  @media @desktop {
    position: absolute;
  }
}

.product__image {
  background-color: @bg-gray;

  @media @tablet {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    justify-self: end;
  }

  @media @desktop {
    grid-row-start: 1;
    grid-row-end: 6;
  }
}

.product__text {
  margin: 0;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media @desktop {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.product__parameters {
  font-family: @font-family-main;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: @font-base;
  border-spacing: 0;
  border-color: @line-separator;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media @desktop {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.product__parameters-name {
  font-weight: 400;
}

.product__parameters-cell {
  padding: 0;
  border-bottom: 1px solid @line-separator;
}

.product__price {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media @tablet {
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.product__button {
  margin: 0 auto;

  @media @tablet {
    align-self: end;
  }

  @media @tablet {
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
