.promo {
  padding-top: 31px;
  padding-right: 30px;
  padding-bottom: 36px;
  padding-left: 30px;
  background-image: url("../img/decorations/wave.svg");
  background-position: bottom;
  background-repeat: repeat-x;
}

.promo__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-color;
}
