.promo {
  position: relative;

  &::after {
    .decor;
    bottom: -52px;

    @media (min-width: @desktop) {
      bottom: -73px;
    }
  }
}

.promo__title {
  position: absolute;
  top: 30px;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special;

  @media (min-width: @tablet) {
    position: static;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 13px;
    margin-left: auto;
    text-align: center;
    white-space: pre-line;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: end;
    margin-right: 0;
    margin-left: 32px;
  }
}
