.promo {
  .margin-mobile;
  position: relative;
  margin-top: 31px;
  margin-bottom: 73px;

  @media (min-width: @tablet) {
    .margin-tablet;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto) 52px;
    margin-top: 53px;
  }

  @media (min-width: @desktop) {
    .content-center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto) 52px;
    margin-top: 54px;
  }

  &::after {
    .decor;
    bottom: -43px;

    @media (min-width: @tablet) {
      bottom: -68px;
    }

    @media (min-width: @desktop) {
      bottom: -96px;
    }
  }
}

.promo__title {
  position: absolute;
  top: 35px;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special;

  @media (min-width: @tablet) {
    position: static;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 6px;
    margin-right: 27px;
    margin-left: auto;
    line-height: 17px;
    text-align: center;
    white-space: pre-line;
  }

  @media (min-width: @desktop) {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
    margin-top: 86px;
    margin-right: 0;
    margin-left: 45px;
  }
}
