.reviews {
  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  background-image: url("../img/decorations/wave.svg");
  background-position: bottom;
  background-repeat: repeat-x;
}

.reviews__arrows-prev,
.reviews__arrows-next {
  cursor: pointer;
}
