.site-list {
  .reset-list;
  height: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @font-dark;
}

.site-list__item {
  .shadow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  @media @tablet {
    box-shadow: none;
  }

  @media @desktop {
    &--catalog {
      position: relative;

      &::after {
        .separator-vertical;
      }
    }
  }
}
