.site-list {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @font-dark;

  @media (min-width: @tablet) {
    font-size: 15px;
  }

  @media (min-width: @desktop) {
    font-size: 17px;
  }
}

.site-list__item {
  .shadow;

  @media (min-width: @tablet) {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding: 0;
    box-shadow: none;
  }

  @media (min-width: @desktop) {
    box-sizing: border-box;
  }

  &::after {
    @media (min-width: @desktop) {
      .separator-vertical;
      display: none; //Задается всем элементам списка, т.к. при переполнении кол-вом элементов возможен перенос. Чтобы в этом случае не прерывалась вертикальная линия - включить псевдоэлемент у соответствующего элемента
    }
  }

  &--catalog {
    position: relative;

    @media (min-width: @tablet) {
      margin-right: 40px;
    }

    @media (min-width: @desktop) {
      margin-right: 35px;
      padding-right: 35px;
    }

    &::after {
      @media (min-width: @desktop) {
        display: block;
      }
    }
  }
}

.site-list__link {
  display: block;
  padding-top: 29px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 76px;

  @media (min-width: @tablet) {
    margin-left: 0;
    padding-top: 21px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  @media (min-width: @desktop) {
    box-sizing: border-box;
    padding-top: 33px;
    padding-bottom: 5px;
  }
}
