.site-list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @dark-font-color;
  list-style-type: none;
}

.site-list__link {
  text-decoration: none;
  color: inherit;
}
