.social-list {
  .reset-list;
  .flex-center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 20px;
  margin-bottom: 21px;

  @media (min-width: @tablet) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop) {
    margin-right: 85px;
  }
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 32px;

    @media (min-width: @tablet) {
      margin-right: 30px;
    }
  }
}

.social-list__link {
  .flex-center;
  padding: 5px;

  &:hover {
    .social-list__icon {
      fill: @special-link-interaction;
    }
  }

  &:focus {
    .outline-radius;
    fill: @special-link-interaction;
  }

  &:active {
    .social-list__icon {
      fill: @special-link-interaction-active;
    }
  }
}
